*, *:before, *:after {
    -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; -o-box-sizing: border-box; -ms-box-sizing: border-box;
    position:relative;
    }
    
    body {
    background-color: #2e3641; 
    margin:0;
    color:#fff; 
    font-family: 'Open Sans', sans-serif;
    }
    
    
    .recipe {
    width:100%;
    display:block;
    
        .quote {
        text-align:center;
        width:100%;
        text-align: center;
        width: 100%;
        position: absolute;
        bottom: 0;
        background: rgba(0,0,0,0.5);
        margin: 0;
        padding: 2em 0;
    
            .cite {
            width:100%;
            float:left;
            font-style:italic;
            font-size:14px;
            text-align:center;
            }
        }
        
        li {
        list-style:none; 
        padding:0;
        margin:0;
        width:100%;
            i {
            margin:0;
            padding:0.5em;
            float:left;
            }
        }
        
        .ingredient-image {
        width:100%;
            img {
            width:100%;
            }
        }
    
        i {
        font-size:15px; 
        float:right;
        padding-top:0.5em;
        cursor:pointer;
        }
    
    
        .rate {
        float: left;
        padding: 0;
        margin: 0.2em 1em 0 0; 
        }
        
        ul {
        padding:0;  
            li {
            list-style:none; 
            padding:0;
            margin:0;
            width:100%;
            padding:0.5em;
            cursor:pointer;
                i {
                margin:0;
                padding:0.3em 0.5em 0 0;
                float:left;
                }
            }
        }
    
        h1 {
        width:100%;
        padding:1em 1em 0.5em;
        margin:0;
        display:block;
        font-weight:bold;
        background: deepskyblue;
        text-transform:uppercase;  
        }
    
        .stars {
        float:left;
        width:100%;
        padding:0 1.5em 1.5em;
        background: deepskyblue;
            .fa-star-half-o,.fa-star {
            float:left;
            }      
        }
    
        .time {
        float:left;
        width:auto;
        padding:0.5em 1.5em;
        background: palevioletred;
        position:absolute;
        top:0;
        right:0;
            .fa-clock-o {
            padding: 2px 10px 0 0;
            font-size:18px;
            float:left;
            }      
        }
    
        .recipe-image img{
        width:100%;
        height:auto;
        float:left;
        }
    
        .recipe-image {
        width:33.3%; 
        float:left;
        display:inline-block;
        }
    
        .recipe-text, .recipe-directions, .comments {  
        width:33.3%;
        padding:0 2em;
        float:left;
        display:inline-block;
            h2 {
            font-weight:600; 
            }
        }
    
        .got li {
        text-decoration:line-through;
        }
    
        ol  {
        padding:0 0 0 1.5em;
            li {
            list-style: inherit;
            cursor:pointer;
            padding: 0.5em 0;
            }
        }
    
        .linethrough {
        text-decoration:line-through; 
        }
    
        form {
        width:100%;
        padding:0;
        margin:0;
        float:left;
    
            input[type="text"], textarea {
            width: 100%;
            border: none;
            background-color: #fff;
            display: block;
            outline: none;
            margin: 20px 0;
            padding: 10px 10px;
            border: 1px solid #ccc;
            -webkit-border-radius: 2px;
            -ms-border-radius: 2px;
            -moz-border-radius: 2px;
            -o-border-radius: 2px;
            border-radius: 2px;
            font-family: 'Open Sans', sans-serif;
            }
    
            textarea {
            height:10em;
            }
    
            button {
            display: block;
            margin-top: 15px;
            margin-bottom: 15px;
            padding: 13px;
            width: auto;
            border: 0;
            margin-left: 0;
            -webkit-border-radius: 2px;
            -ms-border-radius: 2px;
            -moz-border-radius: 2px;
            -o-border-radius: 2px;
            border-radius: 2px;
            -webkit-box-sizing: border-box;
            -ms-box-sizing: border-box;
            -moz-box-sizing: border-box;
            -o-box-sizing: border-box;
            box-sizing: border-box;
            font-size: 16px;
            background: palevioletred;
            color: #fff;
            cursor: pointer;  
            }
        }
    }
    
    @media screen and (max-width:1000px) {
        .recipe {
            .recipe-image, .recipe-text {
            width:50%;
            }
    
            .comments, .recipe-directions {
            width:100%;
            }
        }
    }
    
    @media screen and (max-width:630px) {
        .recipe .time {
        float: left;
        width: 100%;
        position: relative;
        }
    }
    
    
    @media screen and (max-width:600px) {
        .recipe {
            .recipe-image, .recipe-text {
            width:100%;
            }
        }
    }
    .comment {
        margin-bottom: 20px;
        border: 1px solid #ccc;
        padding: 10px;
    }
    
    .comment-info {
        font-weight: bold;
        margin-bottom: 5px;
        display: block;
    }
    
    .comment-info label {
        display: inline-block;
        margin-right: 5px;
    }
    
    .comment-info span {
        color: #888;
    }
    
    .edit-comment,
    .delete-comment {
        cursor: pointer;
        display: inline-block;
        padding: 5px 10px;
        margin-right: 5px;
        border-radius: 3px;
        border: none;
    }
    
    .edit-comment {
        background-color: red;
        color: #fff;
    }
    
    .delete-comment {
        background-color: #4169e1;
        color: #fff;
    }
    
    .edit-comment:hover,
    .delete-comment:hover {
        background-color: #32cd32;
        cursor: pointer;
    }
    #create, textarea  { 
        float:left; 
        padding:25px 25px 40px;
        margin:0 20px 20px 0;
        width:250px;
        height:250px; 
      }
      
      #create {
        user-select:none;
        padding:20px; 
        border-radius:20px;
        text-align:center; 
        border:15px solid rgba(0,0,0,0.1); 
        cursor:pointer;
        color:rgba(0,0,0,0.1);
        font:220px "Helvetica", sans-serif;
        line-height:185px;
      }
      
      #create:hover { border-color:rgba(0,0,0,0.2); color:rgba(0,0,0,0.2); }
      
      textarea {
        font:20px 'Gloria Hallelujah', cursive; 
        line-height:1.5;
        border:0;
        border-radius:3px;
        background: linear-gradient(#F9EFAF, #F7E98D);
        box-shadow:0 4px 6px rgba(0,0,0,0.1);
        overflow:hidden;
        transition:box-shadow 0.5s ease;
        
        max-width:520px;
        max-height:250px;
      }
      textarea:hover { box-shadow:0 5px 8px rgba(0,0,0,0.15); }
      textarea:focus { box-shadow:0 5px 12px rgba(0,0,0,0.2); outline:none; }